body
{
	background:white;
}

.TabLabels li {
	background:#888;
}

.link-button {
	margin:0 3px;
}

h1 {
	font-size:1.4em;
}

h2 {
	font-size:1.1em;
}

h3 {
	font-style:georgia, serif;
	font-weight:normal;
	border-bottom:1px dashed #999;
}

.modelform label {
	font-weight:bold;
	font-size:0.9em;
}